<h2>
  Deplacements de l'utilisateur n°{{userId}}
</h2>
<br>
<table>
  <thead>
    <tr>
      <th>Année</th>
      <th>Mois</th>
      <th>Créé</th>
      <th>Mis à jour</th>
      <th>Date de validation</th>
      <th>Validation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let instance of deplacements">
      <td>{{instance.annee}}</td>
      <td>{{instance.mois}}</td>
      <td *ngIf="instance.created != null">{{instance.created.date}}</td>
      <td *ngIf="instance.created == null"></td>
      <td *ngIf="instance.updated != null">{{instance.updated.date}}</td>
      <td *ngIf="instance.updated == null"></td>
      <td *ngIf="instance.dateValidation != null">{{instance.dateValidation.date}}</td>
      <td *ngIf="instance.dateValidation == null"></td>
      <td>{{instance.validation}}</td>
    </tr>
  </tbody>
</table>